* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;

  padding: 0;
  margin: 0;
  outline: none;
}

body {
  font: 16px/1.5 'Roboto', sans-serif;
  color: $primary-dark;
  min-width: 300px;
}

a {
  text-decoration: none;
  font-size: inherit;
}