//BACKGROUND

$primary-bg: #5584ff;
$primary-dark-bg: #0e1a35;
$secondary-bg: #f83c7b;
$default-bg: #f6f7fa;

//COLORS
$primary-color: #5584ff;
$primary-dark: #0e1a35;

//SHADOW COLOR
$primary-shadow-color: rgba(147, 161, 185, 0.6);