@import "../../../assets/scss/utils/variables";

.options-menu {
  display: inline-flex;

  .options-btn {
    display: flex;
    height: 33px;
    width: 30px;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    border: none;
    user-select: none;
    appearance: none;

    &:before,
    &:after,
    .dot {
      content: '';
      display: block;
      width: 7px;
      height: 7px;
      background-color: $option-menu-bg;
      border-radius: 50%;
    }
  }

  &-list {
    display: none;
  }
}