@import "../../../assets/scss/utils/variables";

.input{
  &-wrap {
    position: relative;
    display: flex;
    align-items: center;

    .icon {
      font-size: 24px;
      line-height: 1;
      margin-right: 20px;
    }
  }

  &-style {
    display: block;
    width: 100%;

    font-size: inherit;
    padding: 20px 9px;
    background-color: transparent;
    border: none;

    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;

    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    
    &:focus + .input-line:after {
      -webkit-transform: scaleX(1);
      transform: scaleX(1);
    }
  }

  &-line {
    position: absolute;
    left: 0;
    bottom: 0;
    display: block;
    width: 100%;
    height: 1px;
    background-color: $input-border-color;
    
    &:after{
      position: absolute;
      content: '';
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: 1;

      background-color: $primary-bg;

      -webkit-transform: scaleX(0);
      transform: scaleX(0);

      -webkit-transition: transform .4s;
      transition: transform .4s;
    }
  }
}