//BACKGROUND

$primary-bg: #5584ff;
$primary-dark-bg: #0e1a35;
$secondary-bg: #f83c7b;
$default-bg: #f6f7fa;

$app-layout-bg: #f6f7fa;
$app-header-bg: #fff;
$option-menu-bg: #8492af;
$border-color: #dadfe7;

$drawer-active-link-bg: #122143;

//COLORS
$primary-color: #5584ff;
$primary-dark: #0e1a35;

//SHADOW COLOR
$primary-shadow-color: rgba(147, 161, 185, 0.6);

//INPUT BORDER
$input-border-color: rgba(132, 146, 175, 0.3);

