@import "../../../assets/scss/utils/variables";

.pill {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 3px;
  font-size: 11px;
  border-radius: 50%;

  &-primary {
    background-color: $primary-bg;
    color: #fff;
  }

  &-secondary {
    background-color: $secondary-bg;
    color: #fff;
  }
}