@import "../../assets/scss/utils/variables";

.auth{
  &-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;

    background-color: $primary-dark-bg;
    padding-left: 45px;
  }

  &-nav {
    display: flex;

    &-link{
      position: relative;
      font-weight: 500;
      padding: 30px 35px 25px;
      color: #fff;
      text-transform: capitalize;

      &.active {
        border-bottom: 10px solid $primary-bg;
      }
    }
  }

  &-layout{
    display: flex;
    width: 100%;
    min-height: 100vh;

    justify-content: center;
    align-items: center;
    padding: 50px 15px;

    background-position: center;
    -webkit-background-size: cover;
    background-size: cover;
    background-attachment: fixed;

    .main-title {
      font-size: 48px;
      font-weight: 300;
      margin-bottom: 80px;
    }
  }

  &-form-wrap {
    flex-shrink: 0;
    max-width: 850px;
    width: 100%;

    background-color: $default-bg;
    box-shadow: 0 0 139px $primary-shadow-color;

    .form-body-wrap {
      padding: 60px 30px;
    }

    .form {
      max-width: 560px;
      width: 100%;
      margin: 0 auto;

      .controls-list {
        margin-bottom: 80px;
      }
    }

    .btn-submit {
      max-width: 380px;
      width: 100%;
      overflow: hidden;
      
      .icon {
        float: right;
      }
    }
  }
}