@import "../../assets/scss/utils/variables";

.drawer{
  width: 0;
  background-color: $primary-dark-bg;
  padding: 30px 0;
  overflow: hidden;
  transition: .35s;

  &.active {
    flex-shrink: 0;
    width: 320px;
  }

  .logo {
    margin: 0 0 30px 40px;
  }
}