@import "../../assets/scss/utils/variables";
@import "../../assets/scss/utils/mixins";

.header {
  display: flex;
  padding: 30px 50px 30px 40px;
  background-color: $app-header-bg;
  border-bottom: 1px solid $border-color;

  .burger-btn {
    position: relative;

    &.active {
      &:before {
        position: absolute;
        top: 50%;
        left: -7px;
        -webkit-transform: translateY(-50%);
        transform: translateY(-50%);
        @include triangle(left, $primary-color, 6px);
      }
    }
  }

  .icon {
    position: relative;
    line-height: 1;
    margin-right: 30px;
  }

  .pill {
    min-height: 18px;
    min-width: 18px;
    max-width: 30px;
    padding: 3px 5px 2px 4px;
    border: 1px solid #fff;
  }

  &-bar {
    display: flex;
    align-items: center;
    flex-grow: 1;
  }

  .icon-menu {
    font-size: 32px;
  }

  .right-bar {
    justify-content: flex-end;

    .icon {
      font-size: 24px;
    }

    .btn {
      margin-right: 40px;
    }
  }

  .search {
    margin-right: 30px;
  }

  .notification-btn {
    .pill {
      position: absolute;
      top: -3px;
      left: 14px;
    }
  }

  .user-menu {
    margin-left: 20px;
    .user-menu-btn {
      display: flex;
      align-items: center;
      &:after {
        margin-left: 9px;
        @include triangle(bottom, #000, 6px);
        z-index: 1;
      }

      .user-thumb {
        width: 50px;
        height: 50px;
        overflow: hidden;
        background: #dedede;

        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        border-radius: 50%;

        img {
          display: block;
          width: 100%;
          height: auto;
        }
      }
    }
  }
}