@import "../../assets/scss/utils/variables";

.users-table {
  width: 100%;
  table-layout: fixed;

  td {
    font-size: 12px;
    padding: 15px;
    border-color: $input-border-color;
    background-color: #fff;

    a {
      font-weight: 700;
    }
  }

  thead {
    td {
      font-size: 14px;
      border: none;
      background-color: transparent;
      padding: 15px 15px;
    }
  }

  .basic-info-cell {
    width: 30%;
    font-size: 14px;

    .text {
      overflow: hidden;
    }

    .thumb {
      float: left;
      margin-right: 20px;
    }
  }

  .options-cell {
    width: 100px;
    text-align: center;
  }

  .icon {
    margin-right: 10px;
  }
}