@import "../../../assets/scss/utils/variables";

.thumb {
  display: flex;
  width: 47px;
  height: 47px;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  overflow: hidden;
  background-color: $primary-bg;
  color: #fff;

  img {
    display: block;
    width: 100%;
    height: 100%;
  }

  .initials {
    font: 700 20px/1 "Roboto";
    text-transform: uppercase;
  }
}